
@keyframes hide {
  0% { opacity:1; }
  100% { opacity:0; }
}

@keyframes show {
  0% { opacity:0; }
  100% { opacity:1; }
}

#NEWS_TOUCH {
  position:absolute;
 /* width:130px; */
 /* height:60px; */
}

#NEWS_TOUCH_PREVIOUS,
#NEWS_TOUCH_NEXT {
  float: left;
  background-color: rgba(0,255,0,0.3);
  border: 3px solid #9F9;
  margin-right: 10px;
  line-height: 25px;
  font-size: 30px;
  height: 32px;
  width: 32px;
  border-radius: 25px;
}

.touchable {
  width:40px;
  height:40px;
  border-radius:25px;
  text-align:center;
  color:#FFF;
}

.untouchable .touchable {
  display:none;
}

.showArticle {
  animation: show linear 1s;
}

.hideArticle {
  animation: hide linear 1s;
}

#NEWS {
  line-height:1.1em;
}

#NEWS .header .title {
  display:block;
  color:#FFF;
  font-size:90%;

}

#NEWS .content {
  padding:10px;
  font-size:70%;
}

#NEWS .footer {
  text-align:right;
}
#NEWS .footer .sourceName,
#NEWS .footer .publishedAt {
  font-size:60%;
  text-align:right;
  display:inline-block;
}

#NEWS .footer .sourceName {
  text-transform: uppercase;
}

/* custom className */
#NEWS .redTitle .title {
  color:#F99;
}

/* Type: Horizontal */
#NEWS.horizontal {
  width:100%;
}

#NEWS.horizontal .content {
  text-align:left;
}

#NEWS.horizontal .content .articleImage {
  margin-right:10px;
  float:left;
  max-width:10vw;
  max-height:10vh;
}

#NEWS.horizontal #NEWS_TOUCH {
  top:0;
  left:0;
}

/* Type: Vertical */
#NEWS.vertical {
  font-size: calc(2vh);
  width:400px;
}

#NEWS.vertical .content .articleImage {
  max-width:400px;
  max-height:300px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#NEWS.vertical #NEWS_CONTENT {
  padding-bottom:5px;
}

#NEWS.vertical #NEWS_TOUCH {
  right:0;
}
