body {
  font-family: sans-serif;
  font-size:30px;
  background-color:000;
  color:#FFF;
  line-height:140%;
}

.readable_header {
  background-color:#CCC;
  color:#000;
  line-height:140%;
  padding:10px;
}

.readable_content {
  padding:10px;
}
